* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    height: 64px;
    width: 160px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
}

/* header styles */

.header {
    margin: 0 auto;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 808px;
    width: 1600px;
    color: #FFFFFF;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
    padding: 216px 230px 0 845px;
    text-align: right;
}

.banner-description {
    font-size: 16px;
    text-align: right;
    padding-left: 876px;
    padding-right: 230px;
    margin-top: 24px;
}
#header-button{
    margin-left: 1210px;
    margin-top: 32px;
}